@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Space Mono", monospace;
    background-color: #212529;
    color: #f59f00;
    text-align: center;
    position: relative;
    margin: 0;
}

.top-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.page-header {
    text-decoration: none;
    background-color: inherit;
    color: #f59f00;
}

.page-header:hover {
    text-decoration: none;
    background-color: inherit;
    color: #f8f9fa;
}

hr {
    width: 50vw;
    border: 1px solid #f59f00;
}


a {
    text-decoration: none;
    background-color: #f59f00;
    color: #212529;
    font-weight: 800;
    padding: 0.25rem;
}

a:hover {
    background-color: inherit;
    color: #f8f9fa;
    font-weight: 800;
    transition-duration: 0.5s;
    transition-behavior: smooth;
}

ul {
    padding: 0;

}

li {
    display: inline;
    list-style-type: none;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    max-width: 50rem;
    margin-bottom: 4rem;
}

.article-card {
    box-sizing: border-box;
    border: 2px solid #f59f00;
    width: 50vw;
    max-width: 50vw;
    height: auto;
    margin-top: 3rem;
    padding: 1.5rem;
    gap: 1rem;
}

.card-title {
    margin-top: 0.25rem;
    margin-bottom: 0;
}

.card-date {
    margin: 0;
    opacity: 0.8;
    font-size: 0.75rem;
}

.card-link {
    margin-bottom: 2rem;
}

.card-content-preview {
    overflow: hidden;
    display: -webkit-box;
    /* display 2 lines only */
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.article-date {
    margin-top: 0;
}

.article-body {
    text-align: left;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 2.5rem;
    margin-top: 2rem;
    position: relative;
}