<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <title>{% block title %}Blog{% endblock %}</title>
  {% endblock %}
</head>

<body>
  <div class="top-items">
    <a href="/" class="page-header">
      <h1>Blog</h1>
    </a>
    <!-- <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
        </ul>
      </nav> -->
  </div>

  <hr />
  <div class="content">{% block content %}{% endblock %}</div>
  <footer>
    {% block footer %}
    &copy; Copyright 2025 by
    <a href="http://domain.invalid/">Matthew Campbell</a>.
    {% endblock %}
  </footer>
</body>

</html>